In [3]:
import pandas as pd
import numpy as np

import dash
# import dash_core_components as dcc
# import dash_html_components as html

from dash import dcc
from dash import html

from dash import Dash
from dash import callback 
from dash import Output
from dash import Input

In [4]:
app = dash.Dash()

In [5]:
county_data = pd.read_csv('../01-DataSet-acs2015_county_data.csv')
county_data.shape

(3220, 37)

In [42]:
state_code = pd.read_csv('../DataSet/state_codes.csv')
state_code.shape
# state_code.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [29]:
df = pd.merge(county_data, state_code, right_on = 'State', left_on = 'State')
df.head()

,CensusId,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment,Abbreviation
0,1001,Alabama,Autauga,55221,26745,28476,2.6,75.8,18.5,0.4,...,1.3,1.8,26.5,23986,73.6,20.9,5.5,0.0,7.6,AL
1,1003,Alabama,Baldwin,195121,95314,99807,4.5,83.1,9.5,0.6,...,1.4,3.9,26.4,85953,81.5,12.3,5.8,0.4,7.5,AL
2,1005,Alabama,Barbour,26932,14497,12435,4.6,46.2,46.7,0.2,...,1.5,1.6,24.1,8597,71.8,20.8,7.3,0.1,17.6,AL
3,1007,Alabama,Bibb,22604,12073,10531,2.2,74.5,21.4,0.4,...,1.5,0.7,28.8,8294,76.8,16.1,6.7,0.4,8.3,AL
4,1009,Alabama,Blount,57710,28512,29198,8.6,87.9,1.5,0.3,...,0.4,2.3,34.9,22189,82.0,13.5,4.2,0.4,7.7,AL

In [31]:
# Black Minority population.
# df[['Black','Native','Asian','Pacific','White']]
df['BlackPop'] = (df['TotalPop'] * df['Black'] / 100).round().astype(np.int64)
df['WhitePop'] = (df['TotalPop'] * df['White'] / 100).round().astype(np.int64)
df['HispanicPop'] = (df['TotalPop'] * df['Hispanic'] / 100).round().astype(np.int64)
df['AsianPop'] = (df['TotalPop'] * df['Asian'] / 100).round().astype(np.int64)

  State  Population
0    CA    39538223
1    TX    29145505
2    FL    21538187
3    NY    20383438
4    IL    12882135

In [9]:

black_by_state = df.groupby('Abbreviation')['BlackPop'].sum().reset_index()
black_by_state.columns = ['StateCode', 'Population']

black_by_state['Population'].sum()

38786341

In [10]:

asian_by_state = df.groupby('Abbreviation')['AsianPop'].sum().reset_index()
asian_by_state.columns = ['StateCode', 'Population']

asian_by_state['Population'].sum()

16052817

In [11]:

hispanic_by_state = df.groupby('Abbreviation')['HispanicPop'].sum().reset_index()
hispanic_by_state.columns = ['StateCode', 'Population']

hispanic_by_state['Population'].sum()

54223051

In [32]:

white_by_state = df.groupby('Abbreviation')['WhitePop'].sum().reset_index()
white_by_state.columns = ['StateCode', 'Population']

white_by_state['Population'].sum()
white_by_state.head()

  StateCode  Population
0        AK      457454
1        AL     3204691
2        AR     2177133
3        AZ     3751935
4        CA    14878726

In [34]:
__tmp1df = pd.merge(white_by_state, hispanic_by_state, right_on='StateCode', left_on='StateCode')
__tmp1df.columns = ['StateCode', 'WhitePopulation', 'HispanicPopulation']
# __tmp1df

In [37]:
__tmp2df = pd.merge(black_by_state, asian_by_state, right_on='StateCode', left_on='StateCode')
__tmp2df.columns = ['StateCode', 'BlackPopulation', 'AsianPopulation']
# __tmp2df

In [39]:
minority_df = pd.merge(__tmp1df, __tmp2df, right_on='StateCode', left_on='StateCode')
# minority_df

In [76]:
total_pop_df = df.groupby('Abbreviation')['TotalPop'].sum().reset_index()
total_pop_df.columns = ['StateCode', 'TotalPopulation'] 
total_pop_df

   StateCode  TotalPopulation
0         AK           733375
1         AL          4830620
2         AR          2958208
3         AZ          6641928
4         CA         38421464
5         CO          5278906
6         CT          3593222
7         DC           647484
8         DE           926454
9         FL         19645772
10        GA         10006693
11        HI          1406299
12        IA          3093526
13        ID          1616547
14        IL         12873761
15        IN          6568645
16        KS          2892987
17        KY          4397353
18        LA          4625253
19        MA          6705586
20        MD          5930538
21        ME          1329100
22        MI          9900571
23        MN          5419171
24        MO          6045448
25        MS          2988081
26        MT          1014699
27        NC          9845333
28        ND           721640
29        NE          1869365
30        NH          1324201
31        NJ          8904413
32        NM          2084117
33        NV          2798636
34        NY         19673174
35        OH         11575977
36        OK          3849733
37        OR          3939233
38        PA         12779559
39        RI          1053661
40        SC          4777576
41        SD           843190
42        TN          6499615
43        TX         26538614
44        UT          2903379
45        VA          8256630
46        VT           626604
47        WA          6985464
48        WI          5742117
49        WV          1851420
50        WY           579679

In [40]:
# # Just some simple random chart for test.
# app.layout = html.Div([
#     html.H1('Dash 101..'),
#     html.Div('Data Visualization Dashboarding Project'),
    
#     dcc.Graph(
#         id='mygraph1',
#         figure = {
#             'data' : [
#                 {'x': [4,6,8], 'y': [12, 16,18], 'type':'bar', 'name':'First Chart'}
#             ],
#             'layout': {
#                 'title': 'Simple Bar chart'
#             }
#         }
#     )
# ])

In [41]:
# if __name__ == '__main__':
#     app.run_server(port = 6969)

In [88]:
import dash
from dash import dcc, html
import plotly.express as px
import pandas as pd

# Sample statewise population data
# data = {
#     'State': ['CA', 'TX', 'FL', 'NY', 'IL'],
#     'Population': [39538223, 29145505, 21538187, 20383438, 12882135]
# }

# Create a DataFrame from the sample data
# df = pd.DataFrame(data)

# Initialize the Dash app
app = dash.Dash(__name__)

# Define the app layout
app.layout = html.Div([
    html.H1('US State Population Dashboard'),
    
    # Multi-select dropdown for selecting states
    dcc.Dropdown(
        id='state-dropdown',
        options=state_code.rename(columns={"State": "label", "Abbreviation": "value"}).to_dict('records'),
        multi=True,  # Allow multiple selections
        value=['TX', 'OK', 'CO', 'NM', 'KS']
    ),
    
    # Bar graph of selected states' populations
    dcc.Graph(id='bar-chart'),
    
    # Choropleth map of selected states' populations
    dcc.Graph(id='choropleth-map')
])

# Callback function to update plots based on dropdown selection
@app.callback(
    [dash.dependencies.Output('bar-chart', 'figure'),
     dash.dependencies.Output('choropleth-map', 'figure')],
    [dash.dependencies.Input('state-dropdown', 'value')]
)
def update_plots(selected_states):
    # Filter data based on selected states
    filtered_df = total_pop_df[total_pop_df['StateCode'].isin(selected_states)]
    
    filtered_minority_df = minority_df[minority_df['StateCode'].isin(selected_states)]
#     filtered_black = df[df['State'].isin(selected_states)]
#     filtered_asian = df[df['State'].isin(selected_states)]
    print(selected_states)
    # Create a bar graph
#     bar_chart = px.bar(filtered_minority_df, y='StateCode', x='BlackPopulation', color='HispanicPopulation', title='State Populations', orientation='h')
    
    bar_chart = go.Figure(data=[
    go.Bar(name='Black', x=filtered_minority_df['StateCode'].values.tolist(), y=minority_df['BlackPopulation'].values.tolist()),
    go.Bar(name='Hispanic', x=filtered_minority_df['StateCode'].values.tolist(), y=minority_df['HispanicPopulation'].values.tolist())
])
# Change the bar mode
    bar_chart.update_layout(barmode='group')

    # Create a choropleth map (you can customize this based on actual geographic data)
    choropleth_map = px.choropleth(
        filtered_df, 
        locations='StateCode', 
        locationmode='USA-states', 
        color='TotalPopulation', 
        title='Statewise Population',
        scope='usa'
    )

    return bar_chart, choropleth_map

In [89]:
if __name__ == '__main__':
    app.run_server(port=7171, debug=True)

['TX', 'OK', 'CO', 'NM', 'KS']
['TX', 'OK', 'CO', 'NM', 'KS']
['OK', 'CO', 'NM', 'KS']
['OK', 'CO', 'NM', 'KS', 'AZ']
['OK', 'CO', 'NM', 'KS', 'AZ', 'WI']
['OK', 'CO', 'NM', 'KS', 'AZ', 'WI', 'CT']
['OK', 'CO', 'KS', 'AZ', 'WI', 'CT']
['OK', 'CO', 'KS', 'AZ', 'WI', 'CT', 'DC']
['OK', 'CO', 'AZ', 'WI', 'CT', 'DC']

In [50]:
state_code.rename(columns={"State": "label", "Abbreviation": "value"}).to_dict('records')

[{'label': 'Alabama', 'value': 'AL'},
 {'label': 'Alaska', 'value': 'AK'},
 {'label': 'Arizona', 'value': 'AZ'},
 {'label': 'Arkansas', 'value': 'AR'},
 {'label': 'California', 'value': 'CA'},
 {'label': 'Colorado', 'value': 'CO'},
 {'label': 'Connecticut', 'value': 'CT'},
 {'label': 'Delaware', 'value': 'DE'},
 {'label': 'District of Columbia', 'value': 'DC'},
 {'label': 'Florida', 'value': 'FL'},
 {'label': 'Georgia', 'value': 'GA'},
 {'label': 'Hawaii', 'value': 'HI'},
 {'label': 'Idaho', 'value': 'ID'},
 {'label': 'Illinois', 'value': 'IL'},
 {'label': 'Indiana', 'value': 'IN'},
 {'label': 'Iowa', 'value': 'IA'},
 {'label': 'Kansas', 'value': 'KS'},
 {'label': 'Kentucky', 'value': 'KY'},
 {'label': 'Louisiana', 'value': 'LA'},
 {'label': 'Maine', 'value': 'ME'},
 {'label': 'Montana', 'value': 'MT'},
 {'label': 'Nebraska', 'value': 'NE'},
 {'label': 'Nevada', 'value': 'NV'},
 {'label': 'New Hampshire', 'value': 'NH'},
 {'label': 'New Jersey', 'value': 'NJ'},
 {'label': 'New Mexico', 'value': 'NM'},
 {'label': 'New York', 'value': 'NY'},
 {'label': 'North Carolina', 'value': 'NC'},
 {'label': 'North Dakota', 'value': 'ND'},
 {'label': 'Ohio', 'value': 'OH'},
 {'label': 'Oklahoma', 'value': 'OK'},
 {'label': 'Oregon', 'value': 'OR'},
 {'label': 'Maryland', 'value': 'MD'},
 {'label': 'Massachusetts', 'value': 'MA'},
 {'label': 'Michigan', 'value': 'MI'},
 {'label': 'Minnesota', 'value': 'MN'},
 {'label': 'Mississippi', 'value': 'MS'},
 {'label': 'Missouri', 'value': 'MO'},
 {'label': 'Pennsylvania', 'value': 'PA'},
 {'label': 'Rhode Island', 'value': 'RI'},
 {'label': 'South Carolina', 'value': 'SC'},
 {'label': 'South Dakota', 'value': 'SD'},
 {'label': 'Tennessee', 'value': 'TN'},
 {'label': 'Texas', 'value': 'TX'},
 {'label': 'Utah', 'value': 'UT'},
 {'label': 'Vermont', 'value': 'VT'},
 {'label': 'Virginia', 'value': 'VA'},
 {'label': 'Washington', 'value': 'WA'},
 {'label': 'West Virginia', 'value': 'WV'},
 {'label': 'Wisconsin', 'value': 'WI'},
 {'label': 'Wyoming', 'value': 'WY'}]

                   State Abbreviation
0                Alabama           AL
1                 Alaska           AK
2                Arizona           AZ
3               Arkansas           AR
4             California           CA
5               Colorado           CO
6            Connecticut           CT
7               Delaware           DE
8   District of Columbia           DC
9                Florida           FL
10               Georgia           GA
11                Hawaii           HI
12                 Idaho           ID
13              Illinois           IL
14               Indiana           IN
15                  Iowa           IA
16                Kansas           KS
17              Kentucky           KY
18             Louisiana           LA
19                 Maine           ME
20               Montana           MT
21              Nebraska           NE
22                Nevada           NV
23         New Hampshire           NH
24            New Jersey           NJ
25            New Mexico           NM
26              New York           NY
27        North Carolina           NC
28          North Dakota           ND
29                  Ohio           OH
30              Oklahoma           OK
31                Oregon           OR
32              Maryland           MD
33         Massachusetts           MA
34              Michigan           MI
35             Minnesota           MN
36           Mississippi           MS
37              Missouri           MO
38          Pennsylvania           PA
39          Rhode Island           RI
40        South Carolina           SC
41          South Dakota           SD
42             Tennessee           TN
43                 Texas           TX
44                  Utah           UT
45               Vermont           VT
46              Virginia           VA
47            Washington           WA
48         West Virginia           WV
49             Wisconsin           WI
50               Wyoming           WY

In [51]:
minority_df

,StateCode,WhitePopulation,HispanicPopulation,BlackPopulation,AsianPopulation
0,AK,457454,47870,23626,42337
1,AL,3204691,193190,1270591,59355
2,AR,2177133,203253,456640,39993
3,AZ,3751935,2015062,263021,193808
4,CA,14878726,14746536,2157960,5192712
5,CO,3645901,1112574,202913,150857
6,CT,2487570,527257,347028,149297
7,DC,230504,66043,310792,23309
8,DE,591726,80657,195086,33322
9,FL,11013330,4662131,3033830,499744
10,GA,5460393,914552,3054277,358386
11,HI,322411,138600,27136,516779
12,IA,2703823,167977,95565,62671
13,ID,1342447,191384,9334,20782
14,IL,8043134,2120791,1821206,640259
15,IN,5288485,421080,594118,120797
16,KS,2228865,323255,163779,74626
17,KY,3761987,143918,342235,54745
18,LA,2750815,218824,1474424,77331
19,MA,4981397,707176,434237,399790
20,MD,3144715,533576,1723689,354339
21,ME,1247586,19480,14585,14630
22,MI,7512845,465629,1366282,268972
23,MN,4427733,270370,294055,239273
24,MO,4850359,233454,691725,105870
25,MS,1714451,86621,1112552,28659
26,MT,882632,33673,4577,6821
27,NC,6324238,869617,2084966,242439
28,ND,628141,20535,11655,8745
29,NE,1509873,186138,85549,37636
30,NH,1210608,42403,15690,31029
31,NJ,5093782,1688187,1131773,801006
32,NM,817223,986912,37655,27080
33,NV,1455067,769963,225584,210728
34,NY,11169071,3617638,2831156,1558401
35,OH,9291064,390591,1393790,215479
36,OK,2591160,372094,273973,72994
37,OR,3042994,486238,69315,154676
38,PA,9979059,815247,1347728,389525
39,RI,785474,143598,56451,33644
40,SC,3051087,254498,1304147,66475
41,SD,701669,27928,12723,10196
42,TN,4856887,320248,1084328,101736
43,TX,11636314,10194835,3073823,1108449
44,UT,2307627,389500,29347,62888
45,VA,5237900,709376,1560963,488905
46,VT,586538,10700,6708,8658
47,WA,4943262,836262,243276,530724
48,WI,4730174,364491,354096,143443
49,WV,1713392,25344,60443,13318
50,WY,489683,55775,5939,5179